<div class="column2">
  <img src="/img/<%= i.image %>" alt="<%= i.name %>" style="width: 100%;">
  <div class="product-desc2">
    <h5>
      <%= i.category %>
    </h5>
    <h4 class="descrel">
      <%= i.name %>
    </h4>
    <h5>
      <%= i.price %>
    </h5>
  </div>
  <div class="buttons2">
    <input type="number" name="amount" value="1" min="1" max="50" step="1" class="amount control1" />
    <button type="button" class="add-bt">Agregar</button>
  </div>
</div>