<!DOCTYPE html>
<html lang="en"> 
<head>
   <%- include('../partials/head')%>
   <link rel="stylesheet" href='/css/productUpload.css'/>
   <link rel="stylesheet" href='/css/validacionesFrontEnd.css'/>
</head>   
<body>
  <%- include('../partials/header')%>
  <main class="main-register">
    <section>
      <div class="register">
        <h2>Creacion de un nuevo producto</h2>
        <form action="/products" method=POST class="formulario" enctype="multipart/form-data">
          <div class="form-control">
            <input  type="text" 
                    name="name" 
                    id="name" 
                    placeholder="Nombre" 
                    class="control" 
                    value="<%=locals.oldData ? oldData.name : null %> ">
            <span class="Feedback"></span>
            <% if(locals.errors && errors.name) { %>
              <div class="text-danger">
                <%= errors.name.msg %> 
              </div>
              <% } %>
          </div>
          <div class="form-control">
            <input type="text" 
                   name="price" 
                   id="price" 
                   placeholder="Precio"  
                   class="control"
                   value="<%=locals.oldData ? oldData.price : null %> ">
            <span class="Feedback"></span>
            <% if(locals.errors && errors.price) { %>
              <div class="text-danger">
                <%= errors.price.msg %> 
              </div>
              <% } %>
          </div>          
          <!-- <div class="form-control">
            <input type="text" name="category" id="category" placeholder="Categoria"  class="control"  >
            <span class="Feedback"></span>
          </div> -->
          <div class="form-control">
            <label class="text" for="category">Categoría:</label>
                <select class= "options" name="category" id="category" class="control" >
                  <% for( let i = 0; i < categories.length; i++ ) { %>
                    <option value="<%=categories[i].id%>"><%=categories[i].name%></option>
                  <% } %>
                </select>
          </div>
          <div class="stock-form">
          <div class="form-control">
            <input type="text" 
                    name="stock" 
                    id="stock" 
                    placeholder="Stock"  
                    class="control"
                    value="<%=locals.oldData ? oldData.stock : null %> ">
            <span class="Feedback"></span>
          </div> 
          <div class="form-control">
            <input type="text" 
                   name="stock_min" 
                   id="stock_min" 
                   placeholder="Stock Minimo"  
                   class="control"
                   value="<%=locals.oldData ? oldData.stock_min : null %>">
            <span class="Feedback"></span>
          </div> 
          <div class="form-control">
            <input type="text" 
                   name="stock_max" 
                   id="stock_max" 
                   placeholder="Stock Maximo" 
                   class="control"
                   value="<%=locals.oldData ? oldData.stock_max : null %>">
            <span class="Feedback"></span>
          </div> 
        </div>
          <div class="form-control">
          <textarea type="text" 
                    name="description" 
                    id="description"  
                    placeholder="Descripción"  
                    class="control"
                    value="<%=locals.oldData ? oldData.description : null %>"></textarea>
          <% if(locals.errors && errors.description) { %>
            <div class="text-danger">
              <%= errors.description.msg %> 
            </div>
            <% } %>
          <span class="Feedback"></span>
          </div>
          <br>
          <br>
          
          <div>
            <label><b>Subí la imagen del producto</b></label>
            
            <span class="Feedback"></span>
            <% if(locals.errors && errors.avProducts) { %>
              <div class="text-danger">
                <%= errors.avProducts.msg %> 
              </div>
            <% } %>
          </div>
          <div class="form-control">
            <input type="text" 
                    name="facts" 
                    id="facts" 
                    placeholder="Nutrición"  
                    class="control"
                    value="<%= locals.oldData ? oldData.facts: null  %> " >
            <span class="Feedback"></span>
          </div>
          <div class="form-control">
            <label class="text" for="in-sale">Oferta:</label>
                <select class= "options" name="in-sale" id="in-sale" class="control"  >
                    <option value="week">Oferta de la semana</option>
                    <option value="weekFalse">Común</option>
                </select>
          </div>  

          <div class="form-control buttons">
            <input type="submit" value="Enviar" class="submit button-form">
            <!-- <input type="reset" value="Limpiar" class="button-form"> -->
          </div>

        </form>
      </div>  
    </section>
  </main>
  <%- include('../partials/footer')%>
  <script src="/js/productCreateValidation.js"></script>
</body>
</html>