<!DOCTYPE html>
<html lang="en"> 
<head>
   <%- include('../partials/head')%>
   <link rel="stylesheet" href='/css/productUpload.css'/>
   <link rel="stylesheet" href='/css/validacionesFrontEnd.css'/>
</head>   
<body>
  <%- include('../partials/header')%>
  <main class="main-register">
    <section>
      <div class="register">
        <h2>Creacion de un nuevo producto</h2>
        <form action="/products" method=POST class="formulario" enctype="multipart/form-data">
          <div class="form-control">
            <input  type="text" 
                    name="name" 
                    <%if (locals.oldData) { %> value="<%=oldData.name%>" <%} else { %> placeholder="Nombre"<% } %>
                    id="name" 
                    class="control" >
            <span class="Feedback"></span>
            <% if(locals.errors && errors.name) { %>
              <div class="text-danger">
                <%= errors.name.msg %> 
              </div>
              <% } %>
          </div>
          <div class="form-control">
            <input type="text" 
                   name="price" 
                   <%if (locals.oldData) { %> value="<%=oldData.price%>" <%} else { %> placeholder="Precio"<% } %>
                   id="price" 
                   class="control">
            <span class="Feedback"></span>
            <% if(locals.errors && errors.price) { %>
              <div class="text-danger">
                <%= errors.price.msg %> 
              </div>
              <% } %>
          </div>          
          <!-- <div class="form-control">
            <input type="text" name="category" id="category" placeholder="Categoria"  class="control"  >
            <span class="Feedback"></span>
          </div> -->
          <div class="form-control">
            <label class="text" for="category">Categoría:</label>
                <select class= "options" name="category" id="category" class="control" >
                  <% for( let i = 0; i < categories.length; i++ ) { %>
                    <option value="<%=categories[i].id%>"><%=categories[i].name%></option>
                  <% } %>
                </select>
          </div>
          <div class="stock-form">
          <div class="form-control">
            <input type="text" 
                    name="stock" 
                    id="stock" 
                    class="control"
                    <%if (locals.oldData) { %> value="<%=oldData.stock%>" <%} else { %> placeholder="Stock"<% } %>>
            <span class="Feedback"></span>
            <% if(locals.errors && errors.stock) { %>
              <div class="text-danger">
                <%= errors.stock.msg %> 
              </div>
              <% } %>
          </div> 
          <div class="form-control">
            <input type="text" 
                   name="stock_min" 
                   id="stock_min" 
                   class="control"
                   <%if (locals.oldData) { %> value="<%=oldData.stock_min%>" <%} else { %> placeholder="Stock Minimo"<% } %>>
                   
            <span class="Feedback"></span>
            <% if(locals.errors && errors.stock_min) { %>
              <div class="text-danger">
                <%= errors.stock_min.msg %> 
              </div>
              <% } %>
          </div> 
          <div class="form-control">
            <input type="text" 
                   name="stock_max" 
                   id="stock_max" 
                   class="control"
                   <%if (locals.oldData) { %> value="<%=oldData.stock_max%>" <%} else { %> placeholder="Stock Máximo"<% } %>>
            <span class="Feedback"></span>
            <% if(locals.errors && errors.stock_max) { %>
              <div class="text-danger">
                <%= errors.stock_max.msg %> 
              </div>
              <% } %>
          </div> 
        </div>
          <div class="form-control">
          <textarea type="text" 
                    name="description" 
                    id="description"  
                    class="control"
                    <%if (locals.oldData) { %> value="<%=oldData.description%>" <%} else { %> placeholder="Descripcion"<% } %>></textarea>
          <% if(locals.errors && errors.description) { %>
            <div class="text-danger">
              <%= errors.description.msg %> 
            </div>
            <% } %>
          <span class="Feedback"></span>
          </div>
          <br>
          <br>
          
          <div>
            <label><b>Subí la imagen del producto</b></label>
            <input id= 'avProducts' class="image" type="file" name="avProducts" >
            <span class="Feedback"></span>
            <% if(locals.errors && errors.avProducts) { %>
              <div class="text-danger">
                <%= errors.avProducts.msg %> 
              </div>
            <% } %>
          </div>
          <div class="form-control">
            <input type="text" 
                    name="facts" 
                    id="facts"
                    class="control"
                    <%if (locals.oldData) { %> value="<%=oldData.facts%>" <%} else { %> placeholder="Nutrición"<% } %>>
            <span class="Feedback"></span>
          </div>
          <div class="form-control">
            <label class="text" for="in-sale">Oferta:</label>
                <select class= "options" name="in-sale" id="in-sale" class="control"  >
                    <option value="week">Oferta de la semana</option>
                    <option value="weekFalse">Común</option>
                </select>
          </div>  

          <div class="form-control buttons">
            <input type="submit" value="Enviar" class="submit button-form">
            <!-- <input type="reset" value="Limpiar" class="button-form"> -->
          </div>

        </form>
      </div>  
    </section>
  </main>
  <%- include('../partials/footer')%>
  <script src="/js/productCreateValidation.js"></script>
</body>
</html>