<!DOCTYPE html>
<html lang="en"> 
<head>
   <%- include('../partials/head')%>
   <link rel="stylesheet" href='/css/productUpload.css'/>
</head>   
<body>
  <%- include('../partials/header')%>
  <main class="main-register">
    <section>
      <div class="register">
        <% if (product.id > 0 ) { %>
         <marquee behavior="" direction="">Edicion de <%=product.name%> </marquee>
         <% } else { %>
          <marquee behavior="" direction="">Creacion de un nuevo producto </marquee>
        <% } %>
        
        <form action="/products/<%=product.id%>?_method=PUT" method=POST id='form-control' class="formulario">
          <input type="number" name="id" id="id" value="<%=product.id%>" hidden>
          <div class="form-control">
            <input type="text" name="name" id="name" placeholder="Nombre"  class="control" value="<%=product.name%> ">
            <span class="Feedback"></span>
              <% if (locals.errors && errors.name) { %>
                <div class="text-danger">
                  <%= errors.name.msg %> 
                </div>
              <% } %>
            
          </div>
          <div class="form-control">
            <input type="text" name="price" id="price" placeholder="Precio" class="control" value="<%=product.price%>">
            <span class="Feedback"></span>
            <% if (locals.errors && errors.price) { %>
              <div class="text-danger">
                <%= errors.price.msg %> 
              </div>
            <% } %>
          </div>          
          <!-- <div class="form-control">
            <input type="text" name="category" id="category" placeholder="Categoria" required class="control"  >
            <span class="Feedback"></span>
          </div> -->
          <div class="form-control">
            <label class="text" for="category">Categoría:</label>
                <select class= "options" name="category" id="category" class="control" value="<%=product.category%>" >
                  <% for( let i = 0; i < categories.length; i++ ) { %>
                    <option value="<%=categories[i].id%>"><%=categories[i].name%></option>
                  <% } %>
                </select>
          </div>
          <div class="form-control">
          <textarea type="text" name="description" id="description"  placeholder="Descripción" class="control"><%=product.description%></textarea>
          <span class="Feedback"></span>
          </div>
          <br>
          <div class="imagen">
            <img src="/img/<%=product.image%>"  alt="">            
          </div>
          <br>
          <label class= "image" > Seleccionar una imagen para el producto </label>
          <br>
          <input id= 'image' class="image" type="file" name="Imagen" accept=".png" multiple>
          <% if(locals.errors && errors.image) { %>
            <div class="text-danger">
              <%= errors.image.msg %> 
            </div>
          <% } %>
          <br>
          <div class="form-control">
            <input type="text" name="facts" id="facts" placeholder="Nutrición" class="control" value="<%=product.facts%> ">
            <span class="Feedback"></span>
          </div>
          <% if (locals.errors && errors.facts) { %>
            <div class="text-danger">
              <%= errors.facts.msg %> 
            </div>
          <% } %>
          <div class="form-control">
            <label class="text" for="in-sale">Oferta:</label>
                <select class= "options" name="in-sale" id="inSale" class="control"  value="<%if (product.week==true) { "week" }%>" >
                    <option value="week">Oferta de la semana</option>
                    <option value="weekFalse">Común</option>
                </select>
          </div>  
          <div class="form-control buttons">
            <input type="submit" value="Enviar" class="submit button-form">
            <!-- <input type="reset" value="Limpiar" class="button-form"> -->
          </div>
        </form>
        
      </div>  
    </section>
  </main>
  <%- include('../partials/footer')%>
<script src="/js/productEditValidation.js"></script>
</body>
</html>