<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href='/css/profile.css' />
</head>

<body>
    <header>
        <%- include('../partials/header')%>
    </header>

    <section>
        <div class="center-conteiner">
            <form action="/profile?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="data">
                    <div class="image">
                        <img class="picture" src="/avatars/<%= user.avatar %>" alt="Imagen de perfil">
                    </div>
                    <div>
                        <h2>Hola <%= user.name %> </h2>
                        <br>
                        <h3>Tu email registrado es <%= user.email %> </h3>
                    </div>                    
                    <br>
                    <input class="form-data" type="text"  name="name"     id="name"       value="<%=user.name%>">
                    <br>
                    <input class="form-data" type="text"  name="lastName" id="lastName"   value="<%=user.lastname%>" >
                    <br>
                    <input class="form-data" type="email" name="email"    id="email"      value="<%=user.email%>"     >
                </div>
                <div>
                    <label for="newsLetter">Deseo Recibir Ofertas por e-mail</label>
                    <input type="checkbox" name="newsLetter" id="newsLetter" value="<% user.newsLetter ? " checked" : null %> ">
                </div>
                <input class="btn" type="submit" value="Modificar Datos">
                <div class="logout">
                    <form action="/users/logout" method="GET">
                        <button class="btn">Logout</button>
                    </form>
                </div>
            </form>


            <!-- <h2>Mis Compras</h2>
            <div class="data">
                <div class="buyCard">
                    <article>
                        <p>Pedido numero: 00001 - 00000123</p>
                        <p>Fecha: 10/05/2021</p>
                        <p>$1.545,00</p>
                        <p>Entregado</p>
                    </article>
                </div>
            </div> -->
        


        </div>

    </section>

    <footer>
        <%- include('../partials/footer')%>
    </footer>

</body>

</html>