<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/productDetail.css" />
  </head>

  <body>
    <p class="banner">
      ¡REGISTRATE Y OBTENÉ UN 10% DE DESCUENTO EN TU PRIMERA COMPRA! ¡SI TU
      COMPRA ES MAYOR A $3500 TENÉS EL ENVÍO BONIFICADO!
    </p>

    <%- include('../partials/header')%>

    <main>
      <article>
        <div class="imgproduct">
          <img
            src="/img/<%= product.image %>"
            alt="<%=//product.name%>"
            class="naranja-img"
          />
        </div>
        <div class="conteiner1">
          <div class="product-desc">
            <h4>Categoría: <%= product.category %></h4>
            <h3><%= product.name %></h3>
            <h4>Precio por Kilo:<%= product.price %></h4>
          </div>
          <div>
              <h3 class="buttons"><a href="/products/<%= product.id %>/edit">Modificar</a></h3>
          </div>
          <div >
            <form method="POST" action="/products/delete/<%= product.id %>?_method=DELETE">
            <input class="buttons" type="submit" value="Eliminar">
          </form>
          </div>
        </div>
      </article>

      <div class="description">
        <h2>Descripcion</h2>
        <p><%= product.description %></p>
        <h4>Informacion Nutricional:<%= product.facts%></h4>
      </div>

      <!-- <h2 class="relproduct">Productos relacionados</h2> -->

      <div class="row">
        <!-- <%-// include('../partials/relproduct',{ i })%>> -->
      </div>
    </main>

    <%- include('../partials/footer')%>
  </body>
</html>
