<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/productDetail.css" />
  </head>

  <body>
    <%- include('../partials/header')%>

    <center>
      <main>
        <h1>Edici贸n de productos</h1>
  
        <form action="#">

          <div class="form-control">
            <input 
              type="text" 
              name="name" 
              id="name" 
              placeholder="Nombre"
              class="control" <%= locals.Errors && errors.name ? 'is-invalid' : null %>" 
              value="<%= products.name %>" 
            >
            <span class="Feedback"></span>
            <% if(locals.errors && errors.name) { %>
              <div class="text-danger">
                <%= errors.name.msg %> 
              </div>
            <% } %>
          </div>

          <div class="form-control">
            <input 
              type="file" 
              name="Imagen 
              id="Imagen" 
              placeholder="Nombre"
              class="control" <%= locals.Errors && errors.Imagen ? 'is-invalid' : null %>" 
              value="<%= products.Imagen %>"
            >
            <span class="Feedback"></span>
            <% if(locals.errors && errors.imagen) { %>
              <div class="text-danger">
                <%= errors.imagen.msg %> 
              </div>
            <% } %>
          </div>

          <div class="form-control">
            <input 
              type="text" 
              name="Descripcion" 
              id="Descripcion" 
              placeholder="Descripci贸n"
              class="control" <%= locals.Errors && errors.Descripcion ? 'is-invalid' : null %>" 
              value="<%= products.Descripcion %>" 
            >
            <span class="Feedback"></span>
            <% if(locals.errors && errors.Descripcion) { %>
              <div class="text-danger">
                <%= errors.Descripcion.msg %> 
              </div>
            <% } %>
          </div>
          
          <div class="form-control">
            <input 
              type="text" 
              name="Categoria" 
              id="Categoria" 
              placeholder="Categoria"
              class="control" <%= locals.Errors && errors.Categoria ? 'is-invalid' : null %>" 
              value="<%= products.Categoria %>"
            >
            <span class="Feedback"></span>
            <% if(locals.errors && errors.Categoria) { %>
              <div class="text-danger">
                <%= errors.Categoria.msg %> 
              </div>
            <% } %>
          </div>

          <div class="form-control">
            <input 
              type="text" 
              name="InfoNutricional" 
              id="InfoNutricional" 
              placeholder="Informaci贸n Nutricional"
              class="control" <%= locals.Errors && errors.InfoNutricional ? 'is-invalid' : null %>" 
              value="<%= products.InfoNutricional %>"
            >
            <span class="Feedback"></span>
            <% if(locals.errors && errors.InfoNutricional) { %>
              <div class="text-danger">
                <%= errors.InfoNutricional.msg %> 
              </div>
            <% } %>
          </div>

          <div class="form-control">
            <input 
              type="text" 
              name="Precio" 
              id="Precio" 
              placeholder="Precio"
              class="control" <%= locals.Errors && errors.Precio ? 'is-invalid' : null %>" 
              value="<%= products.Precio %>"
            >
            <span class="Feedback"></span>
            <% if(locals.errors && errors.Precio) { %>
              <div class="text-danger">
                <%= errors.Precio.msg %> 
              </div>
            <% } %>
          </div>

          <article>
            <center>
              <!-- Bot贸n guardar cambios -->
              <div>
                <h3 class="buttons"><a href="/products/<%= product.id %>/edit">Guardar cambios</a></h3>
              </div>
            </center>
          </article> 
        </form>    
      </main>
    </center>

    <%- include('../partials/footer')%>

  </body>
</html>