<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %> 
    <link rel="stylesheet" href="/css/productList1.css">

</head>

<body>
    <%- include ('../partials/header') %> 
    <main class="main-list">
        <a class="new" href="/products/create">+</a>
        <section class="list">
            <% products.forEach(product => { %>
                <article>
                    <div class="image">
                        <img src="/img/<%=product.image%> " alt="<%=product.name %> " >
                    </div>               
                    <div class="data">
                        <div class="edit">
                            <a href="/products/<%= product.id%>/edit"><%= product.name %>   <i class="fas fa-edit"></i></a>
                        </div>
                        
                        <p>
                            <b>Precio por KG: $</b>
                            <%= product.price %> 
                        </p>
                        
                        <div class="description">
                            <p>Descripción:<%= product.description%></p>
                            <br>
                            <p>Informacion Nutricional:<%= product.facts%></p>
                        </div>
                        <br>
                        Categoría:<%= product.category%></p>                   
                    </div>                        
                </article>
            <% }); %>
        </section>
    </main>
    <%-include('../partials/footer')%>
</body>

</html>