<!DOCTYPE html>
<html lang="en"> 
<head>
   <%- include('../partials/head')%>
   <link rel="stylesheet" href='/css/login2.css'/>
   <link rel="stylesheet" href="/css/validacionesFrontEnd.css">
</head>   
<body>
  <%- include('../partials/header')%>

  <main class="main-login">

    <section>

      <div class="login">

        <marquee>Ingresá a tu cuenta</marquee>

        <form action="/users/login/" method="POST" class="formulario">

          <div class="form-control">
            <input 
              type="email" 
              name="email" 
              id="email" 
              placeholder="Email"
              class="control <%= locals.Errors && errors.email ? 'is-invalid' : null %>" 
              value="<%= locals.oldData ? oldData.email : null %>"
            >
            <span class="Feedback"></span>
            <% if(locals.errors && errors.email) { %>
              <div class="text-danger">
                <%= errors.email.msg %> 
              </div>
            <% } %>
          </div>

          <div class="form-control">
            <input 
              type="password" 
              name="password" 
              id="password" 
              placeholder="Contraseña"
              class="control" <%= locals.Errors && errors.password ? 'is-invalid' : null %>" 
              value="<%= locals.oldData ? oldData.password : null %>" >
              <span class="Feedback"></span>
            <% if(locals.errors && errors.password) { %>
              <div class="text-danger">
                <%= errors.password.msg %> 
              </div>
            <% } %>
          </div>   

          <div class="check">
            <input type="radio" name="remember" id="remember">       
            <label class="label" for="remember">Recordame</label>
          </div>  

          <br>

          <div class="form-control buttons">
            <input type="submit" value="Iniciar sesión" class="submit button-form">
            <input type="submit" value="Registrate" class="button-form">
          </div>

        </form>

      </div>  
    </section>
  </main>
  <%- include('../partials/footer')%>
  <script src="/js/loginUserValidation.js"></script>
</body>

</html>